{{> form}}
<br/>

<h1>Listado de productos</h1>

<div id="products">
    {{!-- {{#each products}}
        <div class="product">
            <h2>{{name}}</h2>
            <p>{{description}}</p>
            <p>{{price}}</p>
            <p>{{stock}}</p>
            <p>{{category}}</p>
            <p>{{created_at}}</p>
            <p>{{updated_at}}</p>
        </div>
    {{/each}} --}}
</div>

<br>

<div id="chat"></div>

<br>
{{> chatForm}}